.wrapper {
  display: grid;
  grid-template-rows: fit-content(1fr) 13.098rem;
  position: relative;
}

.main {
  background-color: #fff0de;
  height: 73.5rem;
  width: 100%;

  padding: 4.37rem 3.186rem 4.37rem 4.839rem;
}

.main main {
  height: 100%;
}

.header-box {
  width: 30.76rem;
  height: 12.991rem;
  border-radius: 24px;
  background-color: #80485b;

  padding: 1.781rem 2.759rem 1.789rem 12.21rem;
  position: relative;
}

.header-box p {
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;

  margin-bottom: 1.361rem;
}

.header-box button {
  padding: 1.1rem 2.75rem;
  border-radius: 12px;
  color: #000;
  border: none;
}

.header-box button:hover {
  background-color: transparent;
  color: #fff;
}

.logo {
  position: absolute;
  bottom: 1.304rem;
  left: 1.527rem;
}

.cart-header {
  margin-top: 4.396rem;
  display: flex;
  justify-content: space-between;
}

.cart-title-wrapper {
  width: 30rem;
  height: 3rem;
}

.cart-title {
  font-size: 2.4rem;
  font-weight: 700;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-icon {
  width: 1.8rem;
  stroke: #000;
}

.main-items {
  overflow: scroll;
  height: 48.9rem;
}

.edit-icon-editing {
  fill: #000;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
