.layout {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 6.52% 1fr 27.0139%;
}

.navigation-pane {
  background-color: #fff;
}

.flexible-pane {
  background-color: yellow;
}

.details-pane {
  background-color: green;
}
