.layout {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 6.52% 1fr 27.0139%;
}

.navigation-pane,
.flexible-pane,
.details-pane {
  height: 100%;
  overflow: scroll;
}

.navigation-pane {
  background-color: #fff;
}

.flexible-pane {
  background-color: #fafafe;
}

.details-pane {
  position: relative;
  background-color: transparent;
}
