.button {
  padding: 2.062rem 2.517rem;
  border-radius: 12px;
  border: none;
  color: #fff;
}

.button:active {
  transform: translateY(2px);
}

.cancel {
  background-color: transparent;
  color: #34333a;
}

.cancel:hover {
  background-color: #e6e6e6;
}

.submit {
  background-color: #f9a109;
}

.empty {
  background-color: #c1c1c4;
}

.submit:hover {
  background-color: #e09108;
}

.delete {
  background-color: #eb5757;
}

.delete:hover {
  background-color: #d44e4e;
}

.complete {
  background-color: #56ccf2;
}
.complete:hover {
  background-color: #4db8da;
}
