.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.49rem;
}

.check-plus-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.604rem;
}

.check-box {
  width: 2.4rem;
  height: 2.4rem;
  border: 2px solid #f9a109;
  border-radius: 0.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  width: 1.676rem;
  stroke: #f9a109;
  stroke-width: 3;
}

.name {
  font-size: 1.8rem;
  font-weight: 500;
}

.quantity {
  height: 3.2rem;
  width: 8.1rem;
  padding: 0.5rem 2.05rem;
  font-size: 1.2rem;
  border: 2px solid #f9a109;
  border-radius: 24px;

  /* truncate text */
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide {
  display: none;
  visibility: 0;
}

.strikethrough {
  text-decoration: line-through;
}
