.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.49rem;
}

.name {
  font-size: 1.8rem;
  font-weight: 500;
}

.quantity {
  height: 3.2rem;
  width: 8.1rem;
  padding: 0.5rem 2.05rem;
  font-size: 1.2rem;
  border: 2px solid #f9a109;
  border-radius: 24px;

  /* truncate text */
  overflow: hidden;
  text-overflow: ellipsis;
}

.icons-wrapper {
  padding-right: 1rem;
  height: 4.49rem;

  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 12px;
  gap: 1.349rem;
}

.increase,
.decrease {
  width: 1.4rem;
}

.increase:hover,
.decrease:hover,
.bin:hover {
  transform: scale(1.5);
}

.increase:active,
.decrease:active,
.bin:active {
  transform: scale(1);
}

.bin-wrapper {
  width: 4rem;
  height: 100%;
  background-color: #f9a109;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bin {
  width: 1.05rem;
  height: 1.35rem;
}
